/*** CSS Reset ************************************************** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** General ************************************************** */
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
html {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .main-container {
    padding: 0px 20px;
    box-sizing: border-box;
  }
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 68.45px;
}
@media (max-width: 600px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
}

/*** Header ************************************************** */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  margin-top: 45px;
}
@media (max-width: 600px) {
  header {
    height: 46.88px;
    margin-top: 20px;
  }
}
header svg {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
header nav {
  align-content: center;
}

h1 {
  display: none;
}

header ul {
  display: flex;
}
header li {
  line-height: 34.22px;
  align-content: center;
  margin-right: 57px;
}
@media (max-width: 600px) {
  header li {
    font-size: 12px;
    line-height: 17.11px;
    margin-right: 26px;
    text-transform: uppercase;
  }
}
header li:last-child {
  margin-right: 0px;
}

.active {
  text-decoration: underline;
}

/*** Home ************************************************** */
/* Banner */
.home .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-top: 50px;
  margin-bottom: 43px;
}
@media (max-width: 600px) {
  .home .banner {
    justify-content: start;
    height: 111px;
    margin-top: 27px;
    margin-bottom: 22px;
    border-radius: 10px;
  }
}
.home .banner img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .home .banner img {
    border-radius: 10px;
  }
}
.home .banner .black-filter {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.6;
}
@media (max-width: 600px) {
  .home .banner .black-filter {
    border-radius: 10px;
  }
}
.home .banner h2 {
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .home .banner h2 {
    margin-left: 16px;
    width: 225px;
    text-align: left;
  }
}

/* Accommodation list */
.accommodations-list {
  width: 100%;
  border-radius: 25px;
  background: #f6f6f6;
  padding: 56px 50px 43px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 5.26%;
  margin-bottom: 50px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .accommodations-list {
    display: flex;
    flex-direction: column;
    grid-gap: 20px 0px;
    margin-bottom: 27px;
    background-color: unset;
    padding: 0px;
  }
}
.accommodations-list article {
  position: relative;
  height: 340px;
}
@media (max-width: 600px) {
  .accommodations-list article {
    height: 255px;
  }
}
.accommodations-list img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.accommodations-list h3 {
  position: absolute;
  bottom: 0px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 600px) {
  .accommodations-list h3 {
    padding: 0px 19.71px 15px 19.71px;
  }
}

/*** No-url ************************************************** */
.no-url {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  flex-grow: 1;
}
.no-url h2 {
  font-size: 288px;
  color: #ff6060;
  line-height: 263px;
  margin-top: 139px;
}
@media (max-width: 600px) {
  .no-url h2 {
    font-size: 96px;
    color: #ff6060;
    line-height: 99px;
    margin-top: 136.9px;
    margin-top: 113px;
  }
}
.no-url p {
  margin-top: 139px;
  color: #ff6060;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 600px) {
  .no-url p {
    margin-top: 113px;
    font-size: 18px;
    line-height: 25.67px;
  }
}
.no-url p br {
  display: none;
}
@media (max-width: 600px) {
  .no-url p br {
    display: block;
  }
}
.no-url .link-back-home {
  color: black;
  margin-top: 139px;
  margin-bottom: 139px;
  font-size: 18px;
  line-height: 25.67px;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .no-url .link-back-home {
    margin-top: 113px;
    margin-bottom: 113px;
    font-size: 14px;
    line-height: 19.96px;
  }
}

/*** About ************************************************** */
/* Banner */
.about .banner {
  position: relative;
  width: 100%;
  height: 223px;
  margin-top: 38px;
  margin-bottom: 38px;
}
@media (max-width: 600px) {
  .about .banner {
    height: 111px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
.about .banner .black-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: black;
  opacity: 0.3;
}
@media (max-width: 600px) {
  .about .banner .black-filter {
    border-radius: 10px;
  }
}
.about .banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
@media (max-width: 600px) {
  .about .banner img {
    border-radius: 10px;
  }
}

/* Collapsible sections */
.collapsible-section .title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
  border-radius: 5px;
  color: white;
  background: #ff6060;
}
@media (max-width: 600px) {
  .collapsible-section .title-section {
    min-height: 30px;
  }
}
.collapsible-section h2, .collapsible-section h3 {
  font-size: 24px;
  line-height: 34.22px;
  margin-left: 15px;
}
@media (max-width: 600px) {
  .collapsible-section h2, .collapsible-section h3 {
    margin-left: 10px;
    font-size: 13px;
    line-height: 1;
  }
}
.collapsible-section .arrow {
  width: 24px;
  height: 13.71px;
  margin-right: 24px;
  position: relative;
  top: 1.14px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .collapsible-section .arrow {
    width: 16px;
    height: 9.14px;
    margin-right: 12px;
    top: -1.14px;
  }
}
.collapsible-section p, .collapsible-section ul {
  box-sizing: border-box;
  border-radius: 10px 10px 5px 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  background: rgba(246, 246, 246, 0.4509803922);
}
@media (max-width: 600px) {
  .collapsible-section p, .collapsible-section ul {
    border-radius: 5px;
    font-size: 12px;
    line-height: 17.11px;
  }
}

.about .collapsible-section {
  margin: 0px 8.75%;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .about .collapsible-section {
    margin: 0px;
    margin-bottom: 20px;
  }
}
.about .collapsible-section:last-child {
  margin-bottom: 38px;
}
@media (max-width: 600px) {
  .about .collapsible-section:last-child {
    margin-bottom: 19px;
  }
}

/* Collapsible sections - Animations */
.rotate-180-open {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg) translateY(2.29px);
}
@media (max-width: 600px) {
  .rotate-180-open {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg) translateY(-2.28px);
  }
}

.rotate-180-close {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}
@media (max-width: 600px) {
  .rotate-180-close {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
  }
}

.init-state-collapsible-section {
  padding: 0;
  max-height: 0;
}

.open-collapsible-section {
  animation: animation-collapse-open 0.2s ease-in-out;
  transform-origin: top;
  padding: 16px 20px 20px 20px;
  height: 100%;
}

@keyframes animation-collapse-open {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.close-collapsible-section {
  animation: animation-collapse-close 0.2s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  height: 0px;
}

@keyframes animation-collapse-close {
  0% {
    transform: scaleY(1);
    height: 100%;
    padding: 16px 20px 20px 20px;
  }
  100% {
    transform: scaleY(0);
    height: 100%;
    padding: 16px 20px 20px 20px;
  }
}
/*** Accommodation sheet ************************************************** */
/* Carousel */
.accommodation .carousel {
  margin-top: 50px;
  margin-bottom: 24px;
  height: 415px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 600px) {
  .accommodation .carousel {
    height: 255px;
    border-radius: 10px;
    margin-top: 27px;
    margin-bottom: 15px;
  }
}
.accommodation .carousel .previous-icon {
  position: absolute;
  left: 0px;
  width: 46.68;
  height: 79.2px;
  margin-left: 23.36px;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 600px) {
  .accommodation .carousel .previous-icon {
    width: 11.67;
    height: 19.8px;
    margin-left: 5.84px;
  }
}
.accommodation .carousel .next-icon {
  position: absolute;
  right: 0px;
  width: 46.68;
  height: 79.2px;
  margin-right: 23.36px;
  cursor: pointer;
  transform: rotate(180deg);
  z-index: 2;
}
@media (max-width: 600px) {
  .accommodation .carousel .next-icon {
    width: 11.67;
    height: 19.8px;
    margin-right: 5.84px;
  }
}
.accommodation .carousel p {
  color: white;
  font-size: 18px;
  line-height: 25.67px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 24.92px;
  z-index: 2;
}
@media (max-width: 600px) {
  .accommodation .carousel p {
    display: none;
  }
}
.accommodation .carousel .slide {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media (max-width: 600px) {
  .accommodation .carousel .slide {
    border-radius: 10px;
  }
}

/* Carousel - Animations */
@keyframes prev-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes next-anim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes prev-anim-rev {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes next-anim-rev {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Spreading left / right sections */
.section-spreader {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .section-spreader {
    flex-direction: column;
  }
}

/* Left section */
.left-section h2 {
  margin-top: 6px;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  color: #ff6060;
}
@media (max-width: 600px) {
  .left-section h2 {
    font-size: 18px;
    line-height: 25.67px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
.left-section p {
  font-size: 18px;
  line-height: 25.67px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .left-section p {
    font-size: 14px;
    line-height: 19.96px;
    margin-bottom: 10px;
  }
}
.left-section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0px;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .left-section ul {
    margin-bottom: 0px;
  }
}
.left-section li {
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  background: #ff6060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  margin-right: 10px;
  color: white;
  padding: 0px 10px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .left-section li {
    min-width: 84px;
    height: 18px;
    font-size: 10px;
    line-height: 14.26px;
  }
}
.left-section li:last-child {
  margin-right: 0px;
}

/* Right section */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 600px) {
  .right-section {
    align-items: start;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 13px;
  }
}
.right-section .author-section {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.right-section p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: #ff6060;
  margin-right: 10px;
  text-align: right;
}
@media (max-width: 600px) {
  .right-section p {
    font-size: 12px;
    line-height: 17.11px;
  }
}
.right-section .author-section img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .right-section .author-section img {
    width: 32px;
    height: 32px;
  }
}
.right-section .rating {
  margin-top: 21px;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 600px) {
  .right-section .rating {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.right-section .rating svg {
  width: 24.75px;
  height: 24px;
  margin-left: 9.25px;
}
@media (max-width: 600px) {
  .right-section .rating svg {
    width: 13.41px;
    height: 13px;
    margin-left: 4px;
  }
}
.right-section .rating img:first-child {
  margin-left: 0px;
}

/* Collapsible part */
.collapsible-part {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .collapsible-part {
    flex-direction: column;
  }
}
.collapsible-part .collapsible-section {
  width: 46.77%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .collapsible-part .collapsible-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .collapsible-part .collapsible-section:last-child {
    margin-bottom: 27px;
  }
}
.collapsible-part ul, .collapsible-part p {
  flex-grow: 1;
}

/*** Footer ************************************************** */
footer {
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 209px;
  background-color: black;
}
footer svg {
  -o-object-fit: contain;
     object-fit: contain;
  height: 39.44px;
  margin-top: 66px;
  margin-bottom: 28.56px;
}
@media (max-width: 600px) {
  footer svg {
    margin-bottom: 0px;
  }
}
footer h4 {
  line-height: 34.22px;
  margin-top: 22px;
}
@media (max-width: 600px) {
  footer h4 {
    text-align: center;
    line-height: 17.11px;
    font-size: 12px;
    width: 133.59px;
  }
}/*# sourceMappingURL=style.css.map */